@import '../../bower_components/bootstrap/less/bootstrap.less';


body {
	padding-top: 100px;
}

.navbar {
	img {
		height: 40px;
		margin-right: 15px;
	}

	.navbar-brand {
		padding: 5px 15px 0;
	}
}