@import '../../bower_components/bootstrap/less/bootstrap.less';


body {
	padding-top: 65px;
}

.wf-loading {
	h1,h2,h3,h4,h5,h6,p,li {
		visibility: hidden;
	}
}

.jumbotron {
	h1 {
		font-weight: 300;
	}
}

.navbar {
	img {
		height: 40px;
		margin-right: 5px;
	}

	.navbar-brand {
		padding: 5px 15px 0;
		text-transform: lowercase;
		font-weight: 300;
		font-size: @font-size-base*1.4;
	}

	.navbar-nav {
		li {
			text-transform: lowercase;
			font-weight: 300;

			a {
				color: #fff;
			}
		}
	}
}

.category {
	h1 {
		font-family: @font-family-condensed;
		font-weight: 700;

		.wf-loading & {
			visibility: hidden;
		}
	}

	.posts {
		list-style: none;
		padding-left: 0;

		li {
			font-family: @font-family-condensed;
			font-weight: 300;
			font-size: @font-size-base*2;
		}
	}
}

.post {
	h2 {
		font-family: @font-family-condensed;
		font-weight: 700;

		.wf-loading & {
			visibility: hidden;
		}
	}
}

.home {
	.jumbotron {
		overflow: hidden;

		.btn-lg {
			font-size: @font-size-base * 2;
			font-weight: 300;
		}

		@media (max-width: @screen-xs-max) {
			.row {
				margin-bottom: 0;
			}
		}
	}
}