---
layout: default
template_class: category
base_url: ".."
---

<section class="intro col-xs-12 col-sm-12">
	<h1>{{ page.title }}</h1>
	{{ content }}
</section>
<section id="todoapp" class="col-xs-12 col-sm-6 col-sm-push-6">
	
	<h2>Checklist</h2>
	<!-- <input id="new-todo" placeholder="What needs to be done?" autofocus> -->
	<header id="list-header"></header>
	<section id="main">
		<a id="toggle-all" class="btn btn-primary btn-sm">Reset all</a>
		<ul id="todo-list"></ul>
	</section>
	<header id="list-footer"></header>
</section>
<section class="col-xs-12 col-sm-6 col-sm-pull-6">

  <h2>Help Topics</h2>

  <ul class="posts">
  	{% if page.title == "Video" %}
	    {% for post in site.categories.video reversed %}
	      {% include category_post.html %}
	    {% endfor %}
	{% elsif page.title == "Audio" %}
	    {% for post in site.categories.audio reversed %}
	      {% include category_post.html %}
	    {% endfor %}
	{% elsif page.title == "Setup" %}
	    {% for post in site.categories.setup reversed %}
	      {% include category_post.html %}
	    {% endfor %}
	{% elsif page.title == "Teardown" %}
	    {% for post in site.categories.teardown reversed %}
	      {% include category_post.html %}
	    {% endfor %}
	{% endif %}
  </ul>
</section>

<script type="text/template" id="item-template">
	<div class="view">
		<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
		<label><%- title %></label>
		<!--<button class="destroy"></button>-->
	</div>
	<input class="edit" value="<%- title %>">
</script>
<script type="text/template" id="stats-template">
	
	<div id="filters" class="btn-group">
			<a class="btn btn-primary active" href="#/">All</a>
			<a class="btn btn-primary" href="#/active">Active</a>
			<a class="btn btn-primary" href="#/completed">Completed</a>
	</div>
	<% if (completed) { %>
	<!-- <button id="clear-completed">Clear completed (<%= completed %>)</button> -->
	<% } %>
</script>

<script type="text/template" id="count-template">
	<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
</script>
