<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ page.base_url }}assets/css/application.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{{ page.base_url }}"><img src="http://www.acts29network.org/mediafiles/uploaded/r/0e1560107_redemption-hill-church-logo.png"> Tech Team</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{{ page.base_url }}audio/">Audio</a></li>
                    <li><a href="{{ page.base_url }}video/">Video</a></li>
                    <li><a href="{{ page.base_url }}setup/">Setup</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
     
                {{ content }}

            <div class="footer">
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
